@page
@model TheMakerBusRazor.Pages.TimetableModel
@{
    Layout="_Layout";
 }


 <!DOCTYPE html>
<html>
<head>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div>

<h2>Roll up! Roll up! It's the maker bus...</h2>
 <div class="myDiv">
            <figure>
                <img src="../../img/map-ca.png" id="routeCa" />
                <figcaption>SAN FRANCISKO, CA</figcaption>
            </figure>
            <figure>
                <img src="../../img/map-tx.png" id="routeTx" />
                <figcaption>AUSTIN, TX</figcaption>
            </figure>
            <figure>
                <img src="../../img/map-ny.png" id="routeNy" />
                <figcaption>NEW YORK, NY</figcaption>
            </figure>
        </div>

        
        <div id="selectEvent" class="myDiv">
            <div class="vl"></div>
            Select an event from the left
            <ul id="myUL">
            </ul>
            <div class="vl"></div>
        </div>
       

        <div id="eventDetails" class="myDiv">


        </div>

    </div>

    <script src="../js/site.js"></script>

</body>
</html>

