@page
@model TheMakerBusRazor.Pages.ToysModel
@{
    Layout="_Layout";
 }

<!DOCTYPE html>
<html>
<head>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div>
   

<h2>Tinker, maker, solder, fly.</h2>
<cache expires-after="@TimeSpan.FromDays(7)">
 <div class="myDiv">
                <p>
                    We can't wait to load up Barney, our faithful bus, with the widest range of toys we've ever taken on the road...

                    This year sees some impressive stats as we will be bringing 15 team members, 50km of cable, 50 arduino compatible boards, 25 laptops, 20 tablets, 10 mobile phones, 5 quadcopter kits, and a giant laser strapped to the roof.

                    We're also bringing a big top, which will provide shelter throughout the night as well as hosting talks and demonstrations from an impressive range of guest speakers.

                    And yes, we did say that we have a giant laser strapped to the roof of the bus. Let's see how often we get stopped for speeding this time!
                </p>
            </div>
            </cache>

            <div class="myDiv">
                <img src="../../img/toys1.jpg" />
                <p>Our new generator is so hefty we have to tow it on a dedicated trailer, but that's worth it because we're powering bigger projects than ever and we expect you to be tinkering throughout the night with our 24-hour maker-jams.</p>
            </div>


            <div class="myDiv">
                <img src="../../img/toys2.jpg" />
                <p>Our state of the art 3D printer is ready to help you take your own souvenirs home! The only catch is that you have to design them. We'll add each one to our open-source 3D designs library, and the designer of the best one gets to keep the printer. </p>
            </div>
        </div>

</body>
</html>
