body {
    background-color: #fff;
    color: #666;
    font-family: arial, sans-serif;
    width: 960px;
    margin: 0 auto 0 auto;
}

header {
    display: block;
    height: 140px;
    border-bottom: 5px solid #000;
    margin-bottom: 30px;
}

h1 {
    font-weight: normal;
    margin: 28px 0 0 0;
    float: left;
    width: 225px;
    height: 90px;
    background-image: url('../img/maker-logo.png');
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

h2 {
    font-size: 2.4em;
    margin: 0.7em 0 1.7em 0;
    padding: 0;
    color: #000;
    line-height: 1em;
    letter-spacing: -.06em;
}

h3 {
    margin: 0;
    font-size: 1.4em;
    color: #3fbb8a;
    font-family: arial, sans-serif;
}

nav {
    font-family: arial, sans-serif;
    float: right;
    width: 600px;
    padding-top: 30px;
    font-size: 1.4em;
    text-align: right;
    text-transform: uppercase;
}

    nav a {
        padding-left: 30px;
    }

        nav a:hover, a.current {
            color: #d71a00;
        }

a {
    text-decoration: none;
    color: #000;
}

.myDiv {
    width: 33%;
    float: left;
}

.page {
    width: 100%;
    background-color: hsl(0,0%,100%);
    float: left;
}
#logo{
    float: left;

}