@page
@model TheMakerBusRazor.Pages.RouteModel
@{
    Layout="_Layout";
 }


 <!DOCTYPE html>
<html>
<head>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div>
   <h2>The bus stops here.</h2>

      <div class="myDiv">
                <img src="../../img/map-ca.png" />
                <h4>
                    SAN FRANCISCO, CA
                </h4>
                <h5> May 1</h5>

            </div>

            <div class="myDiv">
                <img src="../../img/map-tx.png" />
                <h4> AUSTIN, TX </h4>
                <h5>   May 15</h5>
            </div>

            <div class="myDiv">
                <img src="../../img/map-ny.png" />
                <h4>    NEW YORK, NY </h4>
                <h5>   May 30 </h5>
            </div>


</div>
</body>
</html>



